{% extends "layout.html" %}

{% if request.args.get('greeting') is not none  %}
    {% set greeting =  request.args.get('greeting') %}
{% endif %}

{% if request.args.get('product') is not none  %}
    {% set product =  request.args.get('product') %}
{% endif %}

{% block head %}

    {% if greeting != '' %}
<title> {{  greeting }} </title>
<meta name="description" content="We offer a range of SBA products, from Express loans to 504 loans. See if you qualify today.
"/>
<meta property="og:title" content="{{  greeting }} ">
{% else %}
<title> Contact </title>
<meta property="og:title" content=" Contact  ">
{% endif %}
<meta property="og:description" content=" The best place to begin your application with Aldora Capital.">
{% endblock %}


{% block content %}
<div class="ac-full-width prodsaround sba-back">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="productapplytext">
          <h1>The all-in-one guide to tailoring
the perfect SBA Express Loan for your small business</h1>
<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;line-height:107%'>“You’re Going to Like the Way You Look”:</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;line-height:107%'> </span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

<p class=MsoNormal>                Nobody likes a hassle, especially when it
involves finances. This is especially true when you do your own research on a
product or service trying to find out what is the right option for you. For so
long this has been the case with loans, especially commercial loans. A good
commercial loan can transform your idea for a small business from a neglected Word
document on your laptop into a tangible reality. Finding the right small
business loan is not impossible. In fact, it is quite easy when you have the
right guide. </p>

<p class=MsoNormal>Noted philosopher George Zimmer of Men’s Warehouse fame made
it his company motto that “You’re going to like the way you look. I guarantee
it,” and finding the right loan for your small business is much like getting
the perfect suit tailored just for you. The tailor knows what the numbers and
measurements mean, and knowledge of the materials available to know exactly
what is out there. All you need to do is find the right tailor to make your
dreams a reality. Few Americans know about both the public and private
resources available to them designed specifically for financing their small
business ventures.</p>

<p class=MsoNormal>For example, an SBA Loan is an incredibly convenient and
easy way to jumpstart your dreams and get that perfect fit for your financial three-piece
suit. People often assume that loans of this nature take a long time to process
and a lot upfront to even qualify, but nothing could be further from the truth.
Just like a good tailor, the right SBA Express loan is designed to meet your
specific needs while being able to also do the heavy lifting for you; and you
can qualify for it in as little as 36 hours! Rather than having a stiff-fitting
sport jacket, you will have the perfect suit for your business because it was
made from the bottom up with <i>you and your company’s needs</i> in mind! Before
we get ahead of ourselves, let’s break it down step by step.</p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;line-height:107%'>Step 1: Know Your Tailor</span></p>

<p class=MsoNormal>                Sometimes it is better to know more about who
is supplying you the service provider than what you want the final product to
look like. A good tailor – just like a good loan provider – should be able to guide
you through the process even when your idea of what you want is hazy. That is
where the <a href="https://www.sba.gov/about-sba/organization">United States
Small Business Administration (SBA)</a> comes in. Started in 1953 under
President Eisenhower, the SBA seeks to stimulate the American economy and encourage
entrepreneurship by helping business owners obtain the capital needed to do so.
Their 7(a) loan program provides a series of loans (of which the aforementioned
SBA Express is one) that are given through private banks and guaranteed by the
federal government. So that means you may actually receive your loan from a
private firm while the SBA provides the general terms for the loan and guarantees
it. This is an ingenious use of public/private partnership. The 7(a) loan
program works towards the stated goal of the SBA to make sure at least 23% of federal
contracts go to small businesses. In addition to this, the SBA also seeks to educate
small business owners by offering training and counseling programs. Lastly,
they advocate for small business and entrepreneurs through legislation and
other public policy measures. The SBA’s work can succinctly be described by the
“three C’s” of Capital, Contracts, and Counseling. </p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;line-height:107%'>Step 2: Measuring. Are You Small or
Big &amp; Tall?</span></p>

<p class=MsoNormal>                Size matters in business, since it’s all
about efficiency. Learning what you have in proportion to what you need is the
difference between an early retirement or bankruptcy. Given that the SBA provides
multiple different commercial loans with their numerous programs, here is a
convenient chart for reference. We are eventually going to choose a variation
of the 7(a) loan called the SBA Express loan for our tailored fit.   </p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  background:#5B9BD5;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>Loan Type</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-left:none;background:#5B9BD5;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='color:black'>Terms</span></p>
  </td>
 </tr>
 <tr>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>7(a) loan program (SBA’s flagship loan program)*</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Federally guaranteed term loans of up to $5 million.</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Funds for working capital, expansion, equipment purchases.</p>
  <p class=MsoListParagraphCxSpLast style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Processed through banks, credit unions, specialized lenders.</p>
  </td>
 </tr>
 <tr>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>504 loan program</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Federally guaranteed loans of up to $5 million.</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Funds for buying land, machinery, facilities.</p>
  <p class=MsoListParagraphCxSpLast style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Processed through private-sector lenders and nonprofits.</p>
  </td>
 </tr>
 <tr>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>Microloans</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Loans of up to $50,000.</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Funds for working capital, inventory, equipment, starting a
  business.</p>
  <p class=MsoListParagraphCxSpLast style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Processed through community-based nonprofits.</p>
  </td>
 </tr>
 <tr>
  <td width=312 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>SBA disaster loans</p>
  </td>
  <td width=312 valign=top style='width:233.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Loans of up to $2 million.</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Funds for small-business owners affected by natural disasters
  and other emergencies.</p>
  <p class=MsoListParagraphCxSpLast style='margin-bottom:0in;margin-bottom:
  .0001pt;text-indent:-.25in;line-height:normal'><span style='font-family:Symbol'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Processed through the SBA.</p>
  </td>
 </tr>
 <tr>
  <td width=623 colspan=2 valign=top style='width:467.5pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><i><span style='font-size:8.0pt'>*includes SBA Express Loan</span></i></p>
  </td>
 </tr>
</table>

<p class=MsoNormal align=right style='text-align:right'><i><span
style='font-size:8.0pt;line-height:107%'>Source</span></i><a
href="https://d.docs.live.net/98db2ad0c195512f/Documents/Blog%20Articles/:%20https:/www.nerdwallet.com/blog/small-business/small-business-loans-sba-loans/"><i><span
style='font-size:8.0pt;line-height:107%'>:
https://www.nerdwallet.com/blog/small-business/small-business-loans-sba-loans/</span></i></a></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;line-height:107%'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;line-height:107%'>Step 3: The Fitting Room</span></p>

<p class=MsoNormal>                So far, we have found a reputable tailor,
taken measurements, and seen all our options. Now is the time to see what fits.
Let us take the 7(a) program with the added express loan option as our example.
The whole purpose of the 7(a) program is to hand capital to those who would otherwise
not be able to acquire such wealth on “reasonable terms.” However, there are
still conditions for qualifying of course and deciding if a loan “fits” or not
depends on if these requirements are too much or too little for your business.
Meager portions won’t be worth the added interest; and biting off more than you
can chew will not be worth the long-term debt. The official requirements are
listed as follows:</p>

<div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;
background:#BDD6EE;margin-left:.25in;margin-right:0in'>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>You
     must be officially registered as a <b>for-profit business</b>, and you
     must be operating legally.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>As
     the business owner, you <b>can’t be on parole</b>.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>Your
     business must have <b>fewer than 500 employees</b>, and <b>less than $7.5
     million revenue on average each year for the past three years</b></span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>Your
     <b>net income must be under $5 million</b> (after taxes and not counting
     carry-over losses), and your tangible net worth must be less than $15
     million.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>You
     must show you’re <b>investing your own time and money into the business</b>,
     having “invested equity.”</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>Your
     business must be <b>physically based in the United States</b>, and you
     must be doing business with the U.S. and its territories.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>Your
     small business must be in an <b>SBA-eligible industry</b> (speculative,
     illegal and non-profit businesses don’t get to play). Learn more about </span><span
     style='color:black'><a
     href="https://www.sba7a.loans/eligible-and-ineligible-industries"
     target="_blank"><span style='font-size:10.0pt;line-height:107%'>Eligible
     and Ineligible Industries for SBA 7(a) Loans</span></a></span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>You’ll
     need to show that you’ve <b>already tried and failed get funds from other financial
     lenders</b>, fully exhausting </span><span style='color:black'><a
     href="https://www.sba7a.loans/sba-7a-loans-small-business-blog/non-sba-financing-options-for-small-businesses"
     target="_blank"><span style='font-size:10.0pt;line-height:107%'>non-SBA
     loan options</span></a></span><span style='font-size:10.0pt;line-height:
     107%;color:black'>.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>You’ll
     need to <b>prove you’ve got a sound business purpose</b> for the loan
     you’re requesting, and that your intended funds usage is approved by the
     SBA.</span></li>
 <li class=MsoNormal style='margin-left:.25in;background:#BDD6EE;border:none;
     padding:0in'><span style='font-size:10.0pt;line-height:107%;color:black'>You’ll
     need to <b>prove you’re not delinquent on any existing debts to the U.S.
     government</b> (taxes, student loans).</span></li>
</ul>

</div>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
8.0pt;line-height:107%'>Source</span><a
href="https://d.docs.live.net/98db2ad0c195512f/Documents/Blog%20Articles/:%20https:/www.sba7a.loans/eligibility-and-qualifications-for-the-sba-7a-loan"><span
style='font-size:8.0pt;line-height:107%'>:
https://www.sba7a.loans/eligibility-and-qualifications-for-the-sba-7a-loan</span></a></p>

<p class=MsoNormal>Another important factor is that, while not required, <i>a
credit score above 680</i> will significantly improve your chances of receiving
the loan. This credit only becomes more important as we look into the express
option that drastically speeds up your approval time.  Note also the stress on
having equity in your business and having looked at more traditional methods of
funding before requesting a 7(a) loan. It may seem daunting, but loans are
typically paid off in 7 (for working capital) or 25 years (for real estate)
with only 8% interest. Just think about it for a moment, if the barriers to
entry were so financially steep then what kind of person who could qualify
would actually need a loan at that point anyway? So don’t be worried!  </p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;line-height:107%'>Step 4: SBA Express Loan Checkout</span></p>

<p class=MsoNormal>                So, you think a 7(a) loan might be the
perfect loan for your small business and you already feel comfortable with its
look and feel. What if you heard there was one more option within the 7(a)
program that will expediate the whole process and push you to the front of the approval
line? That is where the SBA Express loan makes its appearance. Rather than
waiting weeks for approval, the SBA Express loan makes it so that you can receive
financing in as little as 36 hours! Loans typically follow a 7-year long
repayment plan with the reasonably low interest rate of around 9-11%. Remember,
the SBA does not provide the financing themselves but backs the loans to up a
certain amount so private lenders can more comfortably offer the loans. This
means the individual terms of your loan may vary, but they are all going to
follow a similar model. </p>

<p class=MsoNormal>It is important to choose a private lender that is reliable
and has plenty of experience with SBA Express loans. Talk to one of their
representatives if you have any concerns. It seems quite obvious that the Express
loan is an incredible opportunity to get immediate financing that will not doom
you later on; and it also allows you to get the money you need for real estate,
staff, and equipment for your new business. There are a few cons, however, since
the approval process is so quick that it is very credit dependent. A high credit
score is almost a requirement for an express loan, and the average Express loan
recipient has an even higher credit score than the regular 7(a) loan recipient.
Lenders do feel more secure giving out Express loans now that the federal
government has pledged to repay a certain amount of it if the loan recipient
defaults. </p>

<p class=MsoNormal>Do not fret: You do not need to have a perfect record to receive
an SBA Express loan and most applicants will be just fine. In fact, there
really is no “catch” that makes the express option a “too good to be true”
scenario. It is a genuine partnership between public and private enterprises to
provide a leg-up to entrepreneurs and job-creators everywhere! It is easily the
loan we recommend most to budding business owners. </p>

<p class=MsoNormal align=center style='text-align:center'>Step 5: Like It, Love
It!</p>

<p class=MsoNormal>                We have just gone over step-by-step how to
tailor the perfect SBA Express loan for your small business. You have to first
find the right public and private backer for you loan. Reputable enterprises
such as the SBA offer fantastic services on very fair terms. Second, you look
at the options available to you. Third, you “try on” the different loan types
and see which most suits your businesses needs and funds. Fourth, if you chose to
go with a 7(a) loan backed by the SBA then we highly recommend opting for an Express
loan. Finally, don your new custom made loan and walk around town with the
confidence that you would get from a custom tailored three-piece suit. You can now
feel secure knowing that your business can afford what it needs in order to get
off the ground. There is nothing quite like an item made just for you and your
business, and the reputation of the provider behind it (whether that be a
tailor or a lender) is what plants the seeds of a fertile economy. The process
has become so easy and streamlined there is no reason you should not at least
consider dipping your toes into applying for a SBA Express loan (you can do so
here.) You can never make your dreams a reality if you are not willing to get
help when you need it. </p>

<p class=MsoNormal>A smart loan is like a racecar, you can crash into a pole if
you’re not careful but also it can take you where you want to go faster than
anything else. So, take our advice and get in the driver seat for once. There
is no better time than now to take advantage of these services, and everything we
discussed so far is negotiable with your lender, so it really is made for you
down to the seams. At the end of the day you’re going to like your small
business loan. I guarantee it! </p>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

      </div>
      <div class="col-md-5 col-sm-12">
        <div class="formfloat" >
          <h3>Apply Now</h3>
          <form action="https://formspree.io/submissions@aldoracap.com" method="post">
            <br>
            <input type="text" name="First Name" placeholder="First Name*" required>
            <br>
            <br>
            <input type="text" name="Last Name" placeholder="Last Name*" required>
            <br>
            <br>
            <input type="text" name="Company" placeholder="Company Name">
            <br>
            <br>
            <input type="tel" name="Phone" placeholder="Phone*" required>
            <br>
            <br>
            <input type="email" name="email" placeholder="Email*" required>
            <br>
            <br>
            {%  if product != '' %}
            <select name="Product">
              <option value= "{{ product }}" selected>{{ product }}</option>
            </select>
            {% else %}
            <select name="Product" required>
              <option value="" disabled selected>Select your Product</option>
              <option value="Aeolus Credit Repair">Aeolus Credit Repair</option>
              <option value="Line of Credit">Line of Credit</option>
              <option value="Personal Loan">Personal Loan</option>
              <option value="Revenue Funding">Revenue Funding</option>
              <option value="SBA">SBA</option>
              <option value="Term Loan">Term Loan</option>
              <option value="Other/Unsure">Other/Unsure</option>
            </select>
            {% endif %} <br>
            <br>
            <input type="hidden" name="_subject" value="NEW ORGANIC LEAD" />
            <input type="submit" value="Next" id="button">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="prodmenustrip">
    <div class="container"> <strong>Other Products; </strong></div>
  </div>
  <div class="prodmenuitemstip">
    <div class="container mensub"> <a href="Aeolus Credit Repair.html"><img src="/static/articles/aeolus.png" alt="Aeolus Credit Repair"/><span class="mensubtext">Aeolus Credit Repair</span></a> <a href="Revenue Funding.html"><img src="/static/articles/revenue-funding.png" alt="Revenue Funding"/><span class="mensubtext">Revenue Funding</span></a> <a href="SB Credit.html"><img src="/static/articles/small-business-credit.png" alt="Small Business Line of Credit"/><span class="mensubtext">Small Business Line of Credit</span></a> <a href="Term Loan.html"><img src="/static/articles/term-loan.png" alt="Term Loan"/><span class="mensubtext">Term Loan</span></a> </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script> 
{% endblock %}
