{% extends "article_layout.html" %}
{% block article %}

<h2>Big Project Funding Application</h2>
<h3><u>Global Project Funding:</u></h3>
<p><b>Description:</b></p>
<p>Large projects requiring $20million-$500million in funding. We can facilitate project funding anywhere in the world.</p>
<p><b>Notes:</b></p>
<p>The project owner or client must be able to put 10%-20% of the amount as down payment-cash collateral.</p>
<p>For us to review you or your client's project finance request, please provide the following information:</p>
<ul>
<li>Business plan and project projections</li>
<li>Budget model</li>
<li>Detailed description of the project</li>
<li>Tranche schedule and disbursement schedule</li>
<li>Proof of down payment and other loans</li>
<li>Copy of bank statement and other relevant documentation</li>
</ul>
<h3><u>International Commercial Lending</u></h3>
<p><b>Description:</b></p>
<p>For companies with international business and trade, cross-border sales, and companies with multiple locations in continents.</p>
<p><b>Notes:</b></p>
<p>Accounts receivable financing, invoice factoring, and asset-based credit facility.</p>
<p><b>Available in 25+ countries and 15 currencies:</b></p> 
<p><i>The Americas:</i></p>
<ul>
<li>United States</li>
<li>Canada</li>
<li>Mexico</li>
<li>Panama</li>
<li>Colombia</li>
<li>Brazil</li>
<li>Uruguay</li>
<li>Chile</li>
</ul>
<p><i>Europe:</i></p>
<ul>
<li>Iceland</li>
<li>Ireland
<li>United Kingdom
<li>Portugal
<li>France
<li>Germany
<li>Spain
<li>Denmark
<li>Norway
<li>Finland
<li>Netherlands
<li>Poland
<li>Italy
</ul>
<p><i>Asia-Pacific:</i></p>
<ul>
<li>United Arab Emirates</li>
<li>India</li>
<li>Japan</li>
<li>Singapore</li>
</ul>
<p><i>Other regions:</i></p>
<ul>
<li>South Africa</li>
<li>Australia</li>
<li>New Zealand</li>
</ul>
<p><b>Ideal funding size:</b></p>
<p>$1 million to $15 million.</p>
<p><b>Most common industries:</b></p>
<p>Logistics, manufacturing, wholesale and distribution, professional services, and staffing.</p>
<h3><u>Large Equipment Financing</u></h3>
<p>Large and heavy equipment financing for commercial use in Canada and the United States. Equipment purchase, financing, or lease amount $1 million to $50 million. Equipment may include planes, cranes, buses, cars, marine craft, and more.</p>
<p><b>Requirements:</b></p>
<p>3 years of company financial statements: business tax returns, profit & loss statements, balance sheets, bank statements, and other relevant documentation.</p>

{% endblock %}
