{% extends "article_layout.html" %}
{% block article %}

    <ul>
        {% for item in products %}
            <li class="showhim"><h2>{{ item.name }}</h2>
                <div class="showme">
                    <h3>Description
                    </h3> {{ item.description }}
                    <h3> Requirements</h3> {{ item.requirements }}
                    <br>
                    <a href="{{ item.url }}"><h4>CLICK HERE TO APPLY </h4></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}