{% extends "layout.html" %}
{% block content %}
<!-- Header with Background Image -->
    <header class="ac-full-width page-header01 innerheader">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-white">Products</h1>
      <h2 class="text-white">Aldora Capital Partners</h2>
          </div>
        </div>
      </div>
    </header>

    <ul class="outofrow">
        {% for item in products %}
            <li class="showhim" onclick="toggle_visibility('{{ item.url }}');">

                <div class="light">{{ item.name }}</div>
                <div class="showme dark" id="{{ item.url }}">
                    <h3>Description
                    </h3> {{ item.description }}
                    <h3> Requirements</h3> {{ item.requirements }}
                    <br>
                    <a href="{{ item.url }}" class="btn btn-primary">CLICK HERE TO APPLY </a>
                </div>
            </li>
        {% endfor %}
    </ul>
<script>
function toggle_visibility(id) {
    	var thelist = document.getElementsByClassName("showme");
    	for (var i = 0; i < thelist.length; i++) {
    		thelist[i].style.display = 'none';
    	}
    	var e = document.getElementById(id);
    	if(e.style.display == 'block') {
    		e.style.display = 'none';
    	} else {
    		e.style.display = 'block';
    	}
    }
</script>
{% endblock %}