{% extends "layout.html" %}
{% block content %}

<h2>SBA Application Form</h2>
<h3>Step 1: Download and complete the Aldora permission form.</h3>
<p><a href="https://storage.googleapis.com/wzukusers/user-27747232/documents/596825c4188cbqhPgNzu/Aldora-Capital-Online-Signature-Form.pdf">Link</a></p>
<h3>Step 2: Download and complete the SBA form.</h3>
<p><a href="https://storage.googleapis.com/wzukusers/user-27747232/documents/59691a184e891lgUVHxp/SBA_with_App.pdf">Link</a></p>
<h3>Step 3: Obtain the financial documents and records.</h3>
<p>Gather the following documents to the best of your ability:</p>
<ul>
<li>Business tax returns for the past 3 years*</li>
<li>Personal tax returns for the past 2 years</li>
<li>Business bank statements for the past 6 months</li>
<li>Current balance sheet and profit & loss statement</li>
<li>Shareholders and guarantors form</li>
<li>A list of all outstanding debts</li>
</ul>
<p>* - You don't need 3 years of tax returns if you havve only been in business for a year.
<h3>Step 4: Submit your information.</h3>
<p>Email the signed forms and documents to your assigned Aldora specialist or admin@aldoracap.com.</p>


{% endblock %}