{% extends "layout.html" %}
{% block content %}

    <h2 class="dark">Small Business Line of Credit Application</h2>
<div class="light">
<p>We have partnered with Fundbox for some aspects of the application.</p>
<h3>In order to apply follow the steps below</h3>
<ul>
<li>Click on the button below.</li>
<li>- Create a free account and provide your name, business email, and phone number.</li>
<li>- Select "Direct Draw" when prompted.</li>
<li>- Sync your business checking account.</li>
<li>- Receive a decision within an hour!</li>
</ul>


</div>
<div class="dark"><a  href="http://fbx.go2cloud.org/SH7M">CLICK HERE TO BEGIN YOUR APPLICATION</a></div>
{% endblock %}