{% extends "layout.html" %}
{% block content %}

<h2>Small Business Line of Credit Application</h2>
<p>Note: We have partnered with Fundbox for some aspects of the application.</p>
<p><b>To apply:</b></p>
<ul>
<li>Click on the button below.</li>
<li>Create a free account and provide your name, business email, and phone number.</li>
<li>Select "Direct Draw" when prompted.</li>
<li>Sync your business checking account.</li>
<li>Receive a decision within an hour!</li>
</ul>
<p><a href="http://fbx.go2cloud.org/SH7M">Link</a></p>



{% endblock %}