{% extends "layout.html" %}
{% block content %}

<h2>Term Loan Application</h2>
<h3>Step 1: Download and complete the Aldora permission document.</h3>
<p><a href="https://storage.googleapis.com/wzukusers/user-27747232/documents/596825c4188cbqhPgNzu/Aldora-Capital-Online-Signature-Form.pdf">Link</a></p>
<h3>Step 2: Download and complete the term loan application form.</h3>
<p><a href="https://storage.googleapis.com/wzukusers/user-27747232/documents/59692d1b2c69dyxPOEg2/Term%20Loan%20.pdf">Link</a></p>
<h3>Step 3: Obtain the financial documents and records.</h3>
<p>Gather the following documents to the best of your ability:</p>
<ul>
<li>Business bank statements for the past 6 months</li>
<li>Business tax returns for the past 2 years</li>
<li>Personal tax return for the past year</li>
<li>Current balance sheet and profit & loss statement</li>
<li>Shareholders and guarantors form</li>
<li>A list of all outstanding debts</li>
</ul>
<h3>Step 4: Submit your application.</h3>
<p>Email the signed forms and documents to your assigned Aldora specialist or admin@aldoracap.com.</p>
</body>
</html>

{% endblock %}