{% extends "article_layout.html" %}

{% block article_head %}
    <title> Why work with a broker?</title>
{% endblock %}


{% block article %}
<h2>Broker Over Direct Lender: Benefits of Working with a Broker</h2>
<p>“Are you a direct lender or a broker?” asks Peter, CEO of X Company.</p>
<p>This is a common question which merchants are always interested in knowing. They have many reasons to be curious whether they are dealing with a lender or a broker. Many brokers try to dodge this question by saying they are a direct lender. Calling yourself a direct lender may get a broker in serious trouble in states like California, where new and strict regulations on soliciting lending products have been introduced.</p>
<h3>Three reasons the merchant should know who their lender is:</h3>
<p>1. Brokers will shop their file to every lender they are partnered with. This will hit the merchant with many credit inquiries, resulting in a drop in their credit score.</p>
<p>2. Merchants believe they will wind up paying a higher rate because of the broker involved in the deal.</p>
<p>3. Merchants are afraid brokers will sell their personal information to a third party (i.e. lead generation company, data sellers, lead vendors, debt collection, debt settlement, etc.)</p>
<p>“Ever since I filled out an application, my phone has been raining with phone calls,” says a frustrated Nancy of Happy Company.</p>
<h3>Three ways to educate the merchant as to why they are receiving phone calls:</h3>
<p>1. Ask the merchant if they have a current business, personal, or home loan. If they have a UCC filing on their business or name, it is very likely they will get a lot of phone calls as the UCC list is public. This stage it is also good to find out their balance and offer your solution.</p>
<p>2. If they filled out an online application, it may have been a landing page for a lead generation company, lender, or a brokerage firm. In this case, you can treat this as a warmer lead and offer your services. Make the merchant aware of different products you have to offer and the advantage of working with you to make them feel comfortable.</p>
<p>3. Lastly, get the message across to the merchant of the benefits of working with a responsible and experienced broker.</p>
<h3>5 benefits of working with a broker:</h3>
<p><b>Financial risk analysis</b></p>
<p>Brokers look at the bank statements and financials and knows which lender to send it to. An experienced broker partnered with even only 6 lenders has the ability and knowledge to perfectly place a deal. For example, if the broker has a lender for each type of specific deal such as two lenders for second and third position deals, two lenders for first position A-Paper deals, and two lenders for high risk industries, who will also fund 3rd to 7th position deals. This broker will not harm the merchant’s credit and should be getting the perfect offer from the right lender.</p>
<p><b>Choosing the right option</b></p>
<p>Brokers can also have various funding options including both long term loans and short term loans. If a merchant fits the SBA loan criteria, a broker can easily submit an application on their behalf. Therefore, the broker knows what the best option is for the merchant in the specific situation.</p>
<p><b>Negotiation on the merchant's behalf</p></b>
<p>A broker will negotiate the terms and rates to closely fit with the merchant’s demand. The merchant may not like what they have been offered initially and needs a slight modification. The broker will allow for that change.</p>
<p><b>Refinancing and cost effectiveness</b></p>
<p>Since the broker is an expert on different funding options, during times of refinancing, they will analyze the merchant’s situation and may help with the upgrade from a more expensive product to a less expensive product. For example, if a merchant has a current merchant cash advance balance which they utilized and now has a profit, the merchant may qualify for an SBA loan or term loan. Working directly with a lender, the merchant would not be aware of such availabilities and the better opportunities.</p>
<p><b>Access to valuable resources</b></p>
<p>Brokers can also have partnerships with other resources such as merchant processing terminal services, mortgage refinancing, commercial real estate, project financing, business credit cards, credit repairing services, marketing sources and more.</p>
{% endblock %}