{% extends "article_layout.html" %}
{% block article %}

<h2>Alternative financing: How to get quick cash for your business</h2>
<h3>You are a business owner in need of fast financing or quick cash.</h3>
    <p>
    You are in a busier season and do not have the time at all to wait for a month to finalize a bank loan.
    Small business owners get in tight situations all the time. They may need inventory, buy new equipment or hire new employees.
    Therefore, several business funding options are available to inject cash into your business. Here are the few options to choose from when you need quick funding.</p>
<h3>Term Loan:</h3>
<p>Term Loans are not difficult to obtain for a small business owner. Although a higher credit requirement around 650 is needed,
    funding can be obtain in little as two weeks. Term loans require less paperwork: 6 months of business bank statements, 2 years of business tax return, 1 year of personal tax return,
    P&L, Balance Sheet, and an Outstanding Debt Sheet is required.
    Term loans are a good choice for business who are looking for one to five years to pay it off.
    However, refinancing a term loan is often difficult to qualify for and the monthly expense can be a little burdensome.
    Term loan rates tend to average between 8.99% and 30%. All in all, the quick access to a longer term option is attainable and benefits a small business owner.<p>
<h3>Receivables Funding/ MCA :</h3>
<p>Merchant cash advance is the other option to qualify for within minutes. Funding companies allow quick access to working capital in as little as one to two business days.
    MCAs are mostly the answer to quick cash injection into a business and are very suitable for purchasing inventory, financing a new job or buying equipment.
    Although MCAs are based on the business’s revenue and does not look into credit history as much, the term length are usually shorter.
    The terms range anywhere from three to eighteen months to repay the full amount.
    Repayment methods are based on a small daily or weekly percentage of sales, but it is less burdensome than a term loan.
    In addition, refinancing options are readily available as soon as the loan is paid 30% off in most cases.
    Very minimum paperwork is required: One page quick application, four months of recent bank statements and four months of recent credit card processing statements (if applicable).</p>
<p>These two financing options will provide a small business owner the much needed cash in a very tight situation.
    Fast access to capital is readily available and businesses can achieve the much needed freedom during a dire need of cash.</p>
<p>Contact us today at (458) 888-8042 or email us at admin@aldoracap.com to receive an application. Let us help you succeed!</p>
{% endblock %}