{% extends "article_layout.html" %}
{% block article_head %}
    <title> Receivables Funding</title>
{% endblock %}

{% block article %}


<h2>Receivables Funding: Interest Rate</h2>
<p>Many small businesses are looking towards getting Receivables Funding from short term capital funders and online lenders.
    Ever since the financial crisis during 2008, big banks stopped lending to smaller businesses considering them very risky with risking default rates.
    My father always told me “never judge a book by its cover.”
    Just because some small businesses defaulted on bank loans does not mean every business out there will.
    Ever since then, funding companies took the challenge to provide working capital for small businesses and kept them in the economic cycle.
    However, the concern is why are these short term capital expensive and how are they priced out.</p>

    <h3>Receivables Funding is not a loan</h3>
    <p>
    Although in simpler words it is described as a loan by many business owners, it is not.
    A loan is calculated on an interest rate and takes collateral into the pricing,
        which makes the borrower pay back the original amount plus interests over a period of time.
    On the other hand, Receivables Funding does not require collateral.
        <h3> How is the cost of Receivables Funding Calculated?</h3>
    <p>
    Receivables Funding is simply calculated on the business’s revenue, which are the number of deposits, size of deposits, and consistency of sales volume.
    If a business’s revenue contains high fluctuations throughout the four months to a year, it is considered a higher risk.
    For example, if a business is generating $60,000 on a monthly average for the past six months and the next three months it generates $40,000, $20,000, and $15,000.
    It will be regarded as a higher risk given that the business’s revenue is decreasing thus the funder or lender takes a higher risk.
    In addition, negative days and overdrafts are also a part of the risk as it tells the underwriters whether the business can afford another cash advance or not.
    Another important factor in Receivables Funding pricing is the absence of collateral other than the recivables being purchased.
    A significant cost of the money is accounted for the default risk. When a business owner defaults on a Receivables Funding based product, the funder takes a big hit
    as there is no other collateral involved nor personal guarantee.
    In fact, in most cases the business’s credit score is never given a higher priority than the business’s overall strength.
    Last but not the least, there are other small calculations in the pricing,
    such as overhead costs and certain bank and transaction fees, because these processes are labor intensive.</p>
    <h3>Will this type of financing work for any business owner? </h3>
<p>Overall, the cost of the Receivables Funding comes down to how a business owner utilizes the funds. If he or she invests the money into the business,
    they will generate a higher revenue. For example, if the grocery store owner buys new inventory to sell, he or she will have no problem increasing sales.
    However, if they decide to invest the money by paying off their mortgage or a tax lien, it is not involving the business’s growth in any way.
    Therefore, they could pay a more expensive price for such a decision. It is your business and you know it best!</p>
{% endblock %}