{% extends "article_layout.html" %}
{% block article_head %}
    <title> Term loans</title>
    <meta name="description" content="Increase your working capital with one of our term loans. See if you qualify.
"/>
{% endblock %}


{% block article %}

<h2>Term Loans: Longer Terms</h2>
<p>If you do not have collateral and are looking for a faster funding solution for your business, you may look into a term loan.
    There are several benefits of getting a term loan.
    Term loans can be utilized for large inventory purchase, ongoing advertising, hiring new employees, or opening a new location.
    Come find out what it takes to qualify for a longer term option.</p>
<p>Term loans are typically stretched out anywhere from one to five years. They have both flexible options to use collateral or without collateral.
    Term loans work on a yearly interest rate APR. These percentages typically cost from 6% to 20%. However, there are a few requirements for this type of financing.</p>
<p>A great candidate for a term loan need to have at least 660 credit score. In addition, a yearly business revenue of $150,000 is deemed as a good standing.
    The documents which are assessed to underwrite a term loan: 2 years of business tax returns, 1 year personal tax return, Most recent 6 months of business bank statements,
    Year to Date Financials involving Profit and Loss Statement and a Balance Sheet, and a Debt Sheet listing any current company debts.
    These documents help analyze the health of the business and projection of potential profit generation in the future.</p>
<p>If you do not like the traditional long awaiting bank approvals nor do you like the expensive cash advance, we can apply for the term loan if you meet the requirements.
    Funding for a term loan is usually completed within 1-2 weeks after gathering all the documents.</p>
<p>If you have questions, please feel free to email us at admin@aldoracapital.com or visit our website at www.aldoracapital.com and fill out our web form.</p>

{% endblock %}
