{% extends "layout.html" %}
{% block content %}


<h1>What is a credit score and why is it important?</h1>
<p>To illustrate the importance of credit scores, let’s begin with an example. Jane and Tom each take out a $160,000 home loan with a 30-year fixed mortgage. Jane has a credit score of 700, while Tom has a credit score of 600. Because she has good credit, Jane is able to secure a 4.2% mortgage rate. That means that over the course of her 30-year mortgage, she will pay a total of $121,674 in interest (or 76% of the value of the home). Tom, on the other hand, has subprime credit and gets a mortgage rate of 8.6%. Over the course of his 30-year mortgage, he will pay a total of $286,983 in interest (or 179.4% of the value of the home).</p>
<p>So what is a credit score? When you take out a loan, the lender sends information about that transaction to a credit bureau, like Equifax, Experian, or TransUnion. The credit bureau then aggregates that data, along with information regarding other loans that you have taken out, into a credit report. Credit reports are used to calculate your credit score, which is a number from 300-850 that indicates how likely you are to repay a loan. When a lender is considering you for a new loan, they will use this number to determine loan eligibility and interest rates.</p>
<p>Credit scores are generally calculated using five criteria:</p>
<ul>
<li><i><u>Payment history (35%)</i></u> - Were payments on-time or delinquent? If payments were delinquent, how late were they and how often did this occur?</li>
<li><i><u>Credit utilization rate (30%)</i></u> - How much of your credit limit have you used? How much is still owed?</li>
<li><i><u>Credit history (15%)</i></u> - How long have you had each account? Individuals who have had accounts for longer appear more stable and lower-risk.</li>
<li><i><u>New credit (10%)</i></u> - How many new accounts and/or hard credit inquiries have you had recently? Individuals taking on new debt appear less stable and higher-risk.</li>
<li><i><u>Types of debt (10%)</i></u> - What types of debt do you have?</li>
</ul>
<p>Here is a simple explanation of what each credit score means for you:</p>
<table>
	<tr>
		<th><b>FICO Score</b></th>
		<th><b>Ranking</b></th>
		<th><b>Implications</b></th>
	</tr>
	<tr>
		<td>300 - 579</td>
		<td>Very Poor</td>
		<td>Likely won’t be approved for a loan.</td>
	</tr>
	<tr>
		<td>580 - 669</td>
		<td>Fair</td>
		<td>Higher-than-average interest rates.</td>
	</tr>
	<tr>
		<td>670 - 739</td>
		<td>Good</td>
		<td>Average interest rates.</td>
	</tr>
	<tr>
		<td>740 - 799</td>
		<td>Very Good</td>
		<td>Lower-than-average interest rates.</td>
	</tr>
	<tr>
		<td>800 - 850</td>
		<td>Exceptional</td>
		<td>Lowest interest rates on the market.</td>
	</tr>
</table>
<p><a href="https://www.experian.com/blogs/ask-experian/credit-education/score-basics/what-is-a-good-credit-score/">(Source)</a></p>
<h3>What can you do in the short-term to improve your credit score?</h3>
<p>First, you should get a free copy of your credit report and check it for errors. This is especially relevant now, considering the recent <a href="https://www.equifaxsecurity2017.com/">Equifax data breach</a> that affected 148 million Americans (49% of the adult population). While Equifax should be your main concern, also check your Experian and TransUnion reports for errors. Checking your own credit report does not affect your credit score. If you find discrepancies or inaccuracies in any of the three reports, you can dispute them with the credit bureau, get the errors removed, and could possibly raise your credit score. <a href="https://www.nerdwallet.com/blog/finance/long-fix-error-credit-report/">Here</a> is a detailed guide on how to dispute a report.</p>
<p>Second, help yourself pay bills on time. Delinquent payments impact your credit score the most, so talk to your lenders and see if they offer auto-pay or payment reminders. This will not fix your credit overnight, but it will demonstrate more financial responsibility. Over time, this will translate to a higher credit score.</p>
<p>Third, do your utmost to settle all of your accounts. The length of the delinquency (i.e. how late you were in the payment) matters, so pay off the most delinquent loans first and then work your way up. Some creditors may be willing to take the delinquencies off your reports if you pay them in full, so be sure to ask about that if you’re able. As tempting as it may be, don’t take out one loan to pay off another. It may be a quick fix, but it will definitely hurt you in the long run.</p>
<p>Finally, don’t open new credit cards that you don’t need just to increase your available credit. This practice affects your Credit History and New Credit, and will likely lower your credit score. Instead, open new accounts responsibly and as needed.</p>

{% endblock %}