{% extends "layout.html" %}



{% block content %}
    <h1 class="dark"> Bank Connect </h1>
    <div class="light">
    {% if message != 'Connected' %}
        <button id="link-btn">Click here to link account</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
            <script>
            (function($) {
                var handler = Plaid.create({
                    apiVersion: 'v2',
                    clientName: 'Aldora Capital - Business Connect',
                    env: '{{ plaid_environment }}',
                    product: ['transactions'],
                    key: '{{ plaid_public_key }}',
                    onSuccess: function(public_token) {
                        $.post('{{ url_for('bank.get_access_token') }}', {public_token: public_token}, function() {
                            $('#container').fadeOut('fast', function() {
                                $('#intro').hide();
                                $('#app, #steps').fadeIn('slow');
                            });
                        });
                        location.reload();
                    },
                });
                $('#link-btn').on('click', function(e) {
                    handler.open();
                });
        })(jQuery);
        </script>
    <br><br>
    {% endif %}





    {% if message == 'Connected' %}
            <h3> Download Statements </h3>
                <form action="{{ url_for('bank.get_banks') }}" method="post">
                Start Date
                <input type="date" name="start_date"  required="required">
                End Date
                <input type="date" name="end_date"  required="required">
                <input type="submit" value="Download" id="button">
                </form>

            <h3> Get current account balance </h3>
                <form action="{{ url_for('bank.get_balance') }}" method="post">
                    <input type="submit" value="Get Balance" id="button">
                </form>
                <p> {{  balance }}</p>

            <h3> Thank you for connecting your account with Aldora.</h3>
    {% endif %}
    </div>

{% endblock %}