{% extends "layout.html" %}



{% block content %}
    <h1 class="dark"> Pull bank statements</h1>

<div class="light">
    <form action="{{ url_for('bank.find_banks') }}" method="post">
      <br>
      <input type="text" name="bank_name" placeholder="Bank Name">
      <br><br>
      <input type="submit" value="Search" id="button">
    </form>
</div>


<div class="dark">

    {% if options is defined %}
        <h3> Pick Your Bank </h3>
        {% for option in options %}
            <a href="{{ url_for('bank.select_bank', iden = option.iden) }}">{{ option.name }} </a>
            <hr>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}