{% extends "layout.html" %}



{% block content %}
    <h1 class="dark"> Pull bank statements</h1>

<div class="light">
    <form action="{{ url_for('bank.find_banks') }}" method="post">
      <br>
      <input type="text" name="bank_name" placeholder="Bank Name">
      <br><br>
      <input type="submit" value="Search" id="button">
    </form>
</div>


<div class="dark">
    <h1> Pick Your Bank </h1>
    {% if options is defined %}
        {% for option in options %}
            <a href="{{ url_for('bank.select_bank', institution_id = option.iden) }}">{{ option.name }} </a>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}



</div>