{% extends "article_layout.html" %}
{% block article %}
<h1>How to get low interest rates, even with bad credit.</h1>

<h2>Beat your credit score: Three ways to get the benefits of low interest rates with bad credit</h2>
<p>Good credit affords borrowers lower interest for the same loans. This generally means monthly payments will be smaller and more manageable, even in the face of unforeseen hardships. As a result the total amount of money they spend on the loan will be smaller. If you have bad credit, it's a lot harder to get the same benefits when you borrow, but if you're smart with your money you may still be able to beat your credit score.</p>
<h3>One - Be smart about how much the interest will cost you.</h3>
<p>Consider two loans: loan A is $75,000 at *8.10% interest. Loan B is $75,000 at 28.10%. Loan A will clearly cost you less, right? Not really. The way interest is charged can make a stunning difference in the amount of money the loan will cost you. For the purpose of this article we will compare only two types of interest. Now, which of these loans will cost you more money?</p>
<p>Loan A: $75,000 at 8.10% fixed annual interest, paid over a seven year term will cost you $23,507.32 in interest.</p>
<p>Loan B: $75,000 at a one-time 28.10% finance charge will cost you $21,075.00 for a savings of $2,432.32.</p>
<p>The practical value of that savings will vary from owner to owner, but that money could well pay for next year's seasonal help.</p>
<h3>Two - Be smart about how you allocate unrealized earnings.</h3>
<p>When you take out a ten year loan, you are tying up those funds in advance. With a low interest rate, the amount of those obligations will generally be more manageable and will help you be less financially sensitive. On the other hand, if your payments are inflated due to poor credit and you don't have a savings cushion or plenty of additional cash flow, there are a few reasons you might want to avoid this situation:</p>
<ul>
<li>If a better investment opportunity comes along, you won't have the cash to capitalize on it.</li>
<li>If an emergency such as a fire, natural disaster, or national emergency should occur, you may not be able to afford your payments anymore.</li>
<li>If public perception of your industry or your particular business decline, you may not be able to afford your payments anymore.</li>
</ul>
<p>Conversely, by taking on a shorter term loan, you can:</p>
<ul>
<li>Be reasonably sure that the loan is for the best investment opportunity available to you for the time being.</li>
<li>Limit the amount of time that an unforeseen event can happen while you still have debt obligations.</li>
<li>Be reasonably sure about how much revenue will come in during the term of your loan.</li>
</ul>
<p>Of course, taking on a shorter term loan doesn't guarantee that nothing bad will happen while you are still paying off, but it greatly reduces the amount of time that your debts will be vulnerable to less-than-desirable circumstances.</p>
<h3>Three - Be smart about how you weigh your options.</h3>
<p>There is no one size fits all solution when it comes to financing. The only way to find the best option for you is to know what options are available to you and to think critically about how each one will treat you financially both short and long term. Think about how much money you need, how much you can safely pay off in the short term, and how much of your future money you can safely promise to pay off in the long term. The benefits of low interest may not be available to you, but that doesn't mean you can't borrow in a way that benefits you.</p>
<p>Money isn't everything, but if you're smart about how you use it, you can do a lot of things for your business, your employees, and everyone it serves. Even if you have less-than-perfect credit.</p>
<br>
<p>* - The interest rate for this example was computed using the U.S. Small Business Administration's guidelines on small business loan interest rates. Specifically, the SBA uses (among other options) the "SBA fixed" base rate and then allows lenders to add or subtract a "margin" of up to 2.75% for loans with terms greater than or equal to seven years. As of July 8, 2017 the SBA fixed base rate is 6.08, and for this example we assume a moderately poor credit history and took the margin to be 2.02. As such, this example does not represent the worst rates currently available on the traditional small business loan market.</p>
{% endblock %}