{% extends "article_layout.html" %}
{% block article_head %}
    <title>  Business Line of Credit</title>
{% endblock %}


{% block article %}

<h1>What is a business line of credit?</h1>
<p>A line of credit is essentially a safety net for your business. It’s an agreement between you and the financial institution, establishing a maximum limit that you can borrow. You can draw on that line of credit as needed (up to the maximum limit, of course), and you will only be charged interest on the charges made, not on the maximum limit. Lines of credit are revolving loans, meaning that once you have repaid your debt, you can keep the line open and borrow again as needed. This credit line is a lot like a credit card but doesn't involve an actual credit card.</p>

<h3>What is the difference between a line of credit and a <u>term loan</u>?</h3>
<table>
	<tr>
		<th><b>Line of Credit</b></th>
		<th><b>Term Loan</b></th>
	</tr>
	<tr>
		<td>Fast, on-demand funding</td>
		<td>Lump sum</td>
	</tr>
	<tr>
		<td>Interest rates are generally higher, but interest is only charged on what is withdrawn</td>
		<td>Interest rates are generally lower, but interest is charged on the whole principal</td>
	</tr>
	<tr>
		<td>Typically unsecured (no collateral) under $100,000</td>
		<td>Depends on the loan</td>
	</tr>
	<tr>
		<td>Recommended for short-term risks and opportunities (e.g. payroll, inventory)</td>
		<td>Recommended for long-term projects (e.g. real estate acquisitions)</td>
	</tr>
</table>

<h3>What can lines of credit be used for?</h3>
<p>As the old saying goes, you need money to make money. Small business owners often find that demand is often seasonal or cyclical, so you may not always have the financial flexibility to deal with surprises. Lines of credit can be used to capitalize on opportunities, such as launching a new marketing campaign, hiring new employees, or purchasing new equipment. They can also be used to keep things running smoothly when times get tough, such as making payroll or paying rent. Lines of credit are designed to quickly infuse your business with working capital when you need it.</p>
<p>In addition to providing businesses with stability and flexibility, lines of credit cost virtually nothing* to maintain. This lifeline can fit seamlessly into any small business’s financial strategy.</p>

<h3>When should I apply for a line of credit?</h3>
<p>Think of a line of credit as a kind of insurance policy for your business. If you run into financial dire straits, you can draw on it to pay your employees and keep your inventory stocked. If you encounter an opportunity but don’t have the funds, you can draw on your line of credit to capitalize on the opportunity. If your business is seasonal, you can draw on it during the low season and pay it off during the high season. Just like insurance, lines of credit offer security and stability in the face of an uncertain future.</p>
<p>And just like insurance, you should not wait until the going gets tough to acquire it. You wouldn’t buy car insurance after you’ve had an accident, because you would receive incredibly unfavorable terms, if you could even get insurance at all. For the same reasons, you wouldn’t wait until after you had gotten sick to buy health insurance. Using that same logic, why would you wait to apply for a line of credit until you needed it?</p>
<p>Strategically speaking, the ideal time to apply is when you need it the least. Financial institutions will be more willing to lend you money when you have high cash flow. If your business has recently acquired assets, you can use them to secure your loan and receive a lower interest rate. The low cost to maintain a line of credit makes it a worthwhile financial tool in any small business’s arsenal.*</p>

<h3>Ready to get started?</h3>
<p>Here’s why we think an unsecured line of credit is a great fit for you and your business:</p>
<ul>
<li><b>It’s fast.</b> You can receive a decision in hours, and you can receive funds as soon as the next business day.</li>
<li><b>It’s easy.</b> The application is entirely digital, so there is no paperwork. There are also no credit checks or revenue requirements to get started.</li>
<li><b>It’s accessible.</b> All you need to do is connect your business bank account and provide the required documentation. All major banks and most smaller banks within the United States are supported.</li>
</ul>
<p>In order to apply, you must have a business bank account and be able to provide at least 6 months of revenue statements. An ideal borrower is a business that has been in operation for at least 9 months and generates $100,000 or more in revenue annually. If this sounds like you, contact one of our specialists and we can get you a credit limit of up to $100,000!</p>
<p>At Aldora, we are committed to guiding you through the application process. By leveraging our network of partners, we aim to get you the best possible terms for your line of credit.</p>
<p>To learn more about the application process, submit a written inquiry <a href="https://forms.zohopublic.com/virtualoffice9660/form/EmailSubscription/formperma/EjHCagK__022JHhfA02F5_0g7">here</a> or call (458)-888-8042.</p>
<p>To begin the application process,  <a href="{{  url_for('product.products', product = 'small_business_line_of_credit')}}">click here</a>.</p>
<p>* - Costs and fees differ from client to client. Please contact a specialist if you would like to receive a tailored estimate.</p>
{% endblock %}