{% extends "article_layout.html" %}

{% block article %}

<h1> Customer Forms </h1>
<ul>
<li><a href="{{ url_for('static', filename='agreements/credit_repair.docx') }}">Credit Repair</a></li>
<li><a href="{{ url_for('static', filename='agreements/funding_app.pdf') }}">Funding App (pdf)</a></li>
<li><a href="https://forms.zohopublic.com/virtualoffice9660/form/CommonApp/formperma/CA7AF9_f11jAbB47fmCb4Jham">Funding App (web)</a></li>
</ul>
<h1> Broker Forms </h1>

<ul>
<li><a href="{{ url_for('static', filename='agreements/iso_agreement.pdf') }}">APC ISO Agreement</a></li>
</ul>

{% endblock %}
