{% extends "layout.html" %}
{% block head %}
    <title> Articles</title>
    <meta property="og:title" content=" Articles ">
    <meta property="og:description" content=" A large variety of financial articles and resources, provided for your convenience.">
{% endblock %}


{% block content %}


<h2 class="dark"> {{ page_name }} </h2>

<ul class="light">
    {% for item in links%}
    <li>
        <h3>
            <a href="{{ url_for('article.articles', path = item.filename) }}"> {{item.name}} </a>
        </h3>
    </li>
    {% endfor %}
</ul>


{% endblock %}