{% extends "article_layout.html" %}

{% block article_head %}
    <title> What is Revenue Funding</title>
    <meta name="description" content="Unlike loans which get compounded interest rates over time, Revenue Funding has a fixed interest rate, providing a more costeffective option for your business 
"/>
    <meta property="og:title" content=" What is Revenue Funding ">
    <meta property="og:description" content=" Revenue funding is the when you sell your future recivables at a cheaper rate than the are worth. We outline the full details in this article.  ">
{% endblock %}

{% block article %}
<h2>What is revenue funding?</h2>
<h3>What is the definition of revenue-based funding?</h3>

<p>Despite popular belief, revenue-based funding is not a loan. Unlike loans, which are the lending of a lump sum of money to be paid back over time with interest, revenue-based funding is the purchase of future income against current cash flows. While this may sound similar to a loan, there are a few major differences:</p>
<ul>
<li>Revenue funding faces different regulatory standards than loans. Revenue funding tends to have less government involvement than traditional loans.</li>
<li>Income flow is more important than credit score for revenue based cash. This means that if your business is <b>generating revenue</b>, you can get cash for investment with a bad or no credit score.</li>
<li>Revenue funding, unlike traditional loans, <b>does not have compounding interest</b>. Instead, you pay a single, one-time fee. This means that <b>you are not charged more interest over time</b>.</li>
<li>Revenue funding can also be used by companies which don't qualify for bank loans, such as restaurants, small retailers, and other borrowers.</li>
<li>As mentioned earlier, credit score is only a secondary factor in determining eligibility.</li>
<li>Revenue funding instruments are purchased as a function of a business's daily income. Whereas banks require monthly payments of relatively large amounts, revenue funding lenders take a daily percentage of credit card sales.</li>
</ul>
<p>One of the biggest advantages of revenue funding is that you <b>do not pay compounding interest</b>. The interest rate on revenue-based financing is just a <b>flat fee</b>. With traditional loans, seemingly low interest rates can add up to much higher rates over time due to compounding. To clarify this, consider the following example:</p>
<p>Jeannette needs extra money for her small business. She qualifies for both revenue funding and a bank loan. The revenue funding has a simple rate of 40% and the bank loan has an APR of 12%, compounded monthly. Which one should she get?</p>
<ul>
<li>The revenue funding rate will <b>always be 40%</b> no matter how long Jeannette takes to pay it off.</li>
<li>Assuming Jeannette doesn't pay any of her loans off, the bank loan will have an actual interest rate of <b>82% after 5 years, 160% after 8 years</b>, and <b>230% after 10 years</b>. This puts Jeannette under a lot of pressure to pay off her bank loan as soon as possible. <b>There is no such pressure with a revenue funding option.</b>
</ul>
<p>As we see here, despite having a higher apparent fee rate, revenue funding is very competitive <b>over longer time frames.</b></p>
<p>Finally, a good partner will price the daily payment amount low enough that it shouldn't impact business. Some services are predatory and don't care about the well-being of their clients, but we feel that is a counterproductive way to do business. We make sure that our clients secure the most affordable options available and get competitive refinancing terms for their businesses. We guide you through the entire process of getting and provide you with regular updates about your status. After all, we only prosper when you prosper.</p>

<h3>The simple explanation:</h3>
<ul>
<li>You are advanced cash and you pay back the cash plus a fee.</li>
<li>To make things easier, the size of your payments is determined by your revenue per day.</li>
<li>The amount you owe does not increase over time.</li>
</ul>
<h3>For example:</h3>
<ul>
<li>You are lent $100.</li>
<li>You are charged a 10% fee. Unlike regular loans, this fee does not compound.</li>
<li>You now need to pay back $110. You pay the debt back based on your revenue. If you normally make $10, you pay back $0.10. If you make $20, you pay back $0.20.</li>
<li>Your debt does not increase with time, and bookkeeping is kept simple.</li>
</ul>
{% endblock %}
