body {
    padding-top: 100px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 992px) {
body {
    padding-top: 102px;
}
}

@media (max-width: 990px) {
.display-3 {
    font-size: 3rem;
}
	
article img { width: 100% }

.applytext h2 { font-size: 1.8em!important }	
	
div.mensub img{ display:none; }
div.mensub .mensubtext{ display:block;	color: #555555 }
.prodmenuitemstip { margin-left: 0!important }
.prodmenuitemstip a { text-decoration: underline }	
}

@media (max-width: 500px) {
.business-header h2, .innerheader h2 {
    font-size: 1.3rem;
}
.business-header h1 {
    font-size: 1.7rem;
}
.innerheader h1 {
    font-size: 2rem!Important;
}
}

@media (max-width: 600px) {
.p-5 {
    padding: 3rem 0.8rem!important;
}
.contactstrip {
    display: none
}
.navbar-nav {
    margin-top: 0!important
}	
}

.mensubtext{
        display:none;
    } 

.business-header {
    height: 70vh;
    min-height: 300px;
    background: url('random_images/adrian-161202-unsplash.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -30px
}
.page-header01 {
    height: 20vh;
    background: url('random_images/dan-schiumarini-427777-unsplash.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -30px;
    margin-bottom: 30px;
    border-bottom: 6px solid #75b0b8
}
.page-header02 {
    height: 20vh;
    background: url('random_images/bryan-minear-315773-unsplash.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -30px;
    margin-bottom: 30px;
    border-bottom: 6px solid #75b0b8
}
.backpage01 {
    background: url('random_images/piron-guillaume-498682-unsplash.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	padding: 4em!Important
}
.bgtexture {
    background: url('random_images/bg-texture.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.apply-back {
    height: 100%;
    background: #497980 url('random_images/apply-back.jpg') top center no-repeat;
    margin-top: -30px;
	padding: 4em 0
}

.prodsaround {
    height: 100%;
    margin-top: -30px;
	padding: 4em 0
}
.aeolus-back {
    background: #497980 url('random_images/aeolus-back.jpg') top center no-repeat;
}

.revenue-back {
    background: #497980 url('random_images/revenue-back.jpg') top center no-repeat;
}

.sba-back {
    background: #497980 url('random_images/sba-back.jpg') top center no-repeat;
}

.sbcredit-back {
    background: #497980 url('random_images/sbcredit-back.jpg') top center no-repeat;
}

.termloan-back {
    background: #497980 url('random_images/termloan-back.jpg') top center no-repeat;
}

.business-header h1 {
    margin-top: 15rem;
    font-weight: bold;
    text-shadow: 0 0 30px rgb(0, 0, 0);
}
.innerheader h1 {
    margin-top: 1.2rem;
}
.card {
    height: 100%;
}
.ac-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.tealstrip {
    background-color: #75b0b8;
    height: 6px
}
.top-head a {
    color: #ffffff
}
a {
    color: #75b0b8
}
a:hover {
    color: #545555
}
#searchbox {
    width: 250px;
    float: right;
    height: 40px;
    margin-top: 8px
}
#gsc-i-id1 {
    border-radius: 3px;
    border: 1px solid #75b0b8 !Important
}
.gsc-input-box {
    border-width: 0 !Important;
    background-color: transparent!Important;
}
.clear {
    clear: both
}
#content-acp {
    padding-top: 30px
}
.navbar {
    border-bottom: 1px solid #545555
}
.navbar-nav {
    margin-top: -30px
}
.logosite {
    max-height: 70px
}
.contactstrip {
    text-align: right;
    margin-top: -33px;
    position: relative;
    font-size: 0.8em
}
.contactstrip a {
    margin: 0 6px
}
.topicon {
    width: 20px;
    margin-right: 5px
}
.applymain, input[type="submit"], button {
    background-color: #75b0b8;
    padding: 8px 15px!important;
    border-radius: 5px;
    margin: 0 5px
}
.applymain {
    color: #ffffff!important
}
.acpbgdark {
    background-color: #545555;
    color: #cde9f2
}
.acpbgteal {
    background-color: #75b0b8;
}
.acpbgdark a.notbutton, .acpbgteal a.notbutton {
    text-decoration: underline
}
.acpbgdark a {
    color: #fff;
}
.acpbgteal a {
    color: #545555;
}
.acpbgdark h3 {
    font-size: 1.4em
}
.wwd img {
    width: 7.8em;
    height: auto
}
.aldorafooticon {
    max-width: 100px;
    float: right;
    margin-left: 20px
}
footer a {
    text-decoration: none
}
footer {
    font-size: 0.9em
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #75b0b8;
    border-color: #545555;
    color: #545555
}
/* Hide Show Items */

.showme {
    display: none;
}
.showhim:hover .showme {
    display : block;
}
.light, .dark {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5em;
}
li.showhim {
    list-style: none
}
/* Light and Dark Color Systems */

.light:last-child {
    padding-bottom: 10em;
}
.light {
    background-color: #fff;
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    padding-top: 1.3em
}
.dark {
    background-color: #545555;
    color: #fff;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    padding-top: 0.5em
}
.light li h2, .dark li h2 {
    font-size: 1.3rem
}
.dark p {
    font-size: smaller;
}
.dark a:hover {
    color: var(--darkheader)
}
.outofrow {
    padding-left: 0
}
.productlist h2, .productlist h3, .productlist h4 {
    padding-top: 0.5em
}
ul.light {
    list-style-type: none;
    border-bottom: 1px solid #545555
}
ul.light li {
    border-bottom: 1px dashed #545555
}
nav.light {
    font-size: 1.2em
}
nav.light ul, div.light ul {
    list-style-type: none;
}
nav.light a {
    font-weight: bold
}
hr {
    border-color: #75b0b8;
    border-style: dashed
}
div.light ul li {
    border-bottom: 1px dashed #545555;
    padding: 1.3em;
    font-weight: bold
}
input, select {
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    letter-spacing: .15rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
	width: 100%
}
input[type="submit"], button {
    color: #fff;
    font-weight: bold
}

.productapplytext { color: #ffffff; }
.productapplytext h1 { font-size: 3.2em; font-weight: 800 }
.applytext { font-size: 1.8em; line-height: 1.2; display: block; margin: 1.5em 0;  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); color: #ffffff }
.applytext h2 { font-size: 2.2em; font-weight: 800 }
.backpage01 form { margin-bottom: 30px }

.formfloat { background-color: rgb(255,255,255,0.7); padding: 2em; margin: 2em 0 }
.apply-moreinfo { background-color: #9cced6; padding: 2em; text-align: center }

.prodmenustrip {  background-color: rgb(85,85,85,0.6); color: #fff; padding: 8px 20px; margin-top: 50px }
.prodmenuitemstip { background-color: rgb(255,255,255,0.6); padding: 15px 0; margin-left: -50px }
div.mensub img{ margin: 5px 20px }
