:root {
  --header-footer-color:#f2f2f2;
  --background-color: #474747;
  --text-color: #282828;
  --hover-color: #ddd;
}


p, h1, h2, h3, li, a:visited, a:hover, a.active, a {
    align:center;
    text-align:left;
    color:black;
    padding: 0 0;
    margin: .4em 0;
    color: inherit;
    text-decoration: none;
}

h1{
    font-size:xx-large;
}
h2{
    font-size:x-large;
}
h3{
    font-size:large;
}

.nav{
    background-color:var(--background-color);
    list-style:none;
    text-align:center;
    padding: 1.618em 0 ;
    color: var(--header-footer-color)

}

.nav li, footer li{
    display: inline-block;
    border-left:thin solid darkgrey;
    border-right:thin solid darkgrey;
    border-collapse: collapse; 
    padding: 0 1%;
    color: var(--header-footer-color)
}

header h1, header h2, header h3 {
    align:center;
    text-align:center;
}

header a{
    align:right;
    text-align:right;
}



body { margin: 0 1.5%;}

@media only screen and (min-width: 20cm) {
body {margin: 0 10%;}
}


footer {
    background-color: var(--background-color);
    color:var(--header-footer-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align:center;
}


#button {
  border: .0;
  background: lightgrey;
  font-size: large;
  color: grey;
  font-weight: 100;
}

form {
 text-align: left;
 position: absolute;
 top: 50vh;
 left: 50vw;
 z-index: 1;
}


.showme{ 
display: none;
}

.showhim:hover .showme{
display : block;
}