:root {
  --header-footer-color:#f2f2f2;
  --background-color: #474747;
  --text-color: #282828;
  --hover-color: #ddd;
}

.nav{
    background-color:var(--background-color);
    list-style:none;
    text-align:center;
    padding: 1.618em 0 ;
    color: var(--header-footer-color)

}

.nav li, footer li{
    display: inline-block;
    border-left:thin solid black;
    border-right:thin solid black;
    border-collapse: collapse; 
    padding: 0 1%;
    color: var(--header-footer-color)
}




a:visited, a:hover,a:active, a {
    color: var(--text-color) !important;
    padding: 0 0;
    text-decoration: none;
    white-space: nowrap;
    font-size: larger;
}


p, h1, h2, h3, li, a:visited, a:hover, a.active, a {
    align:center;
    text-align:left;
    color:black;
    padding: 0 0;
    margin: 0 0;
    color: inherit;
}

h1{
    font-size:xx-large;
}
h2{
    font-size:x-large;
}
h3{
    font-size:large;
}




footer {
    background-color: var(--background-color);
    color:var(--text-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align:center;
}


#button {
  border: .0;
  background: lightgrey;
  font-size: large;
  color: grey;
  font-weight: 100;
}

form {
 text-align: left;
 position: absolute;
 top: 50vh;
 left: 50vw;
 z-index: 1;
}