:root {
  --header-footer-color: #474747;
  --header-footer-text-color: #f2f2f2;
  --hover-color: #ddd;

}

.nav{
    background-color:var(--header-footer-color);
    list-style:none;
    padding: 1em 1.618em;
    text-align:center;
}

.nav a {
    padding: 1% 5%;
    text-decoration: none;
    white-space: nowrap;
}

.nav a:visited {
    color: var(--header-footer-text-color);
    text-decoration: none;
}


.nav a:hover {
    color: var(--hover-color);
    text-decoration: none;
}


.nav a:active {
    color: var(--hover-color);
}


h1 {
    align:center;
    text-align:center;
    font-size: xx-large;
    color:black;
}


footer {
    background-color: var(--header-footer-color);
    color:var(--header-footer-text-color);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    overflow: hidden;
    text-align:center;
}