


* {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif !important;
    color: darkred;
}

p, a, li{
    font-family: 'Open Sans', sans-serif !important;
    color: inherit;
}


.nav, footer {
    background: #555555;
    color: white;

}


body{
    background: #fcfcfc;
}
#content {
    background: white;
    color: darkgrey;
}