


* {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif !important;
    color: inherit;
}

p, a, li, ul{
    font-family: 'Open Sans', sans-serif !important;
    color: inherit;
    line-height: 1.7;
}

header, footer {
    background-color: darkslategrey;
    color: deepskyblue;

}

#content {
    background: white;
    color: dimgrey;
}

h1{
    font-size:xx-large;
}
h2{
    font-size:x-large;
}
h3{
    font-size:large;
}

.nav {
    background: white;
    color: darkred;
}

footer li+li, .nav li+li {
    border-left: 1px solid #d8d8d8;
    border-collapse: collapse;
}

body{
    background: white;
}

#button {
  border: none;
  background: lightgrey;
}
