

:root {
  --text-color: #7f7f7f;
}

* {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif !important;
    color: dimgray;
}

p, a, li, ul{
    font-family: 'Open Sans', sans-serif !important;
    color: inherit;
    line-height: 1.7;
}

#content{
    background: white;
    color: var(--text-color)
}

h1{
    font-size:xx-large;
}
h2{
    font-size:x-large;
}
h3{
    font-size:large;
}


.nav, footer {
    background: white;
    color: darkred;
}

footer li+li, .nav li+li {
    border-left: 1px solid #d8d8d8;
    border-collapse: collapse;
}

body{
    background: #fcfcfc;

}

#button {
  border: none;
  background: lightgrey;
}
