#content {
    padding-top:3%;
    padding-bottom:60vh;
}

@media (min-width: 25cm) {
    #content {
    margin-left:20%;
    margin-right:20%;
    }
}

header h1, header h2, header h3 {
    text-align:center;
}

header a{
    align:right ;
    text-align:right;
    display:block;
}

footer, .nav {
    padding: 1em  ;
    text-align:center;
    list-style:none;
    margin: .2em .4em;
    text-decoration:  none;
}
footer li, .nav li{
    display: inline-block;
    border-collapse: collapse;
    padding: 0 0;
}

#navigation li:not(:first-child):before {
    content: " | ";
}


.showme{
display: none;
}

.showhim:hover .showme{
display : block;
}