#content {
    padding-top:3%;
    padding-bottom:60vh;
}

@media (min-width: 25cm) {
    #content {
    margin-left:20%;
    margin-right:20%;
    }
}


header h1, header h2, header h3 {
    align:center;
    text-align:center;
}


header a{
    align:right !important;
    text-align:right;
    display:block;
}

footer, .nav {
    padding: 1.382em 0 ;
    text-align:center;
    list-style:none;
}
.nav li, footer li{
    display: inline-block;
    border-left:thin solid darkgrey;
    border-right:thin solid darkgrey;
    border-collapse: collapse;
    padding: 0 1%;
}

p, h1, h2, h3, li, a:visited, a:hover, a.active, a {
    align:center;
    text-align:left;
    padding: 0 0;
    margin:.2em .4em;
    text-decoration: none;
}


.showme{
display: none;
}

.showhim:hover .showme{
display : block;
}