#content {
    margin-top:3vh;
    margin-bottom:3vh;
    padding: .5em;
    padding-bottom:60vh;
    margin-left:.25em;
    margin-right:.25em;
}


@media (min-width: 30cm) {
    #content {
    margin-left:20%;
    margin-right:20%;
    padding-left:3%;
    padding-right:3%;
    }

    header a{
        margin-right: 20%;

    }
}



header{
    padding-bottom:1em;
}
header h1, header h2, header h3 {
    padding-top: .7em;
    text-align:center;
}

header a{
    align:right ;
    text-align:right;
    display:block;
}

footer, .nav {
    text-align:center;
    list-style:none;
}

footer{
    margin-bottom:0;
    padding-left:0;
    padding-right:0;
}



footer li, .nav li{
    display: inline-block;
    padding: 0 0;
}

footer li+li, .nav li+li {
    margin-left: .5em;
    padding-left: .5em;
    white-space: nowrap;
}

.showme{
display: none;
}

.showhim:hover .showme{
display : block;
}