#content {
    padding-top:3%;
    padding-bottom:60vh;
    margin-left:3%;
    margin-right:3%;
}

@media (min-width: 25cm) {
    #content {
    margin-left:20%;
    margin-right:20%;
    }
}

header h1, header h2, header h3 {
    padding-top: .7em;
    text-align:center;
}

header a{
    align:right ;
    text-align:right;
    display:block;
}

footer, .nav {
    padding: 1em  ;
    text-align:center;
    list-style:none;
    margin: .2em .4em;
}

footer li, .nav li{
    display: inline-block;
    padding: 0 0;
    text-decoration:  none;
}

footer li+li, .nav li+li {
    margin-left: .5em;
    padding-left: .5em;
}

.showme{
display: none;
}

.showhim:hover .showme{
display : block;
}