{% extends "layout.html" %}

{% block head %}
    <title> Resources </title>
{% endblock %}


{% block content %}


    <h2 class="dark"> R E S O U R C E S </h2>


    <h3 class="dark"> Calculators </h3>
    <nav class="light">
        <ul>
            <li><a href="{{ url_for('resources.compound_interest_calculator') }}">Compound Interest Calculator</a></li>
            <hr>
            <li><a href="{{ url_for('resources.convert_revenue_funding_to_apr') }}">Convert Revenue Funding to APR</a></li>
            <hr>
            <li><a href="{{ url_for('resources.calculate_mca_costs') }}">Compare Two Revenue Funding Deals</a></li>
            <hr>
            <li><a href="{{ url_for('resources.mca_calc') }}">Revenue Funding Deal Cost and Payments calculator</a></li>
        </ul>
    </nav>

    <h3> Articles </h3>
    <nav class="light">
    <ul>
    <li> <a href="{{ url_for('article.articles') }}"> General Articles </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'Blog') }}">  The Blog </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'Charter Schools') }}">  Information for Charter Schools </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'SBA') }}">  Information about SBA Loans </a></li>

    </ul>
    </nav>



{% endblock %}