{% extends "layout.html" %}

{% block head %}
    <title> Resources </title>
    <meta name="description" content="From our compounding interest calculator to our revenue funding comparison, we offer a number of tools to help you make the best financial decisions for your business
"/>
{% endblock %}


{% block content %}


    <h1 class="light bgtexture"> R E S O U R C E S </h1>


    <h2 class="dark"> Calculators </h2>
    <nav class="light">
        <ul>

            <li class="showhim">
                <a href="{{ url_for('resources.compound_interest_calculator') }}">Compound Interest Calculator</a>

                    <p class="showme"> This Calculator Shows you the following information:
                    Gross total cost, payment sized, money saved by inflation, real cost after accounting for inflation.
                    </p>

            </li>

            <hr>
            <li class="showhim">
                <a href="{{ url_for('resources.convert_revenue_funding_to_apr') }}">Convert Revenue Funding to APR</a>

            </li>

            <hr>

            <li class="showhim">
                <a href="{{ url_for('resources.calculate_mca_costs') }}">Compare Two Revenue Funding Deals</a>
            </li>

            <hr>

            <li class="showhim"><a href="{{ url_for('resources.mca_calc') }}">Revenue Funding/MCA Cost and Payments calculator</a></li>
        </ul>
    </nav>

    <h2 class="dark"> Articles </h2>
    <nav class="light">
    <ul>
    <li> <a href="{{ url_for('article.articles') }}"> General Articles </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'Blog') }}">  The Blog </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'Charter Schools') }}">  Information for Charter Schools </a></li>
        <hr>
    <li> <a href="{{ url_for('article.articles' , path = 'SBA') }}">  Information about SBA Loans </a></li>
        <hr>
    </ul>
    </nav>



{% endblock %}
