{% extends "layout.html" %}



{% block content %}
<div class="light">

<h3> Mailing Address </h3>
<address><br>
Aldora Capital Partners Inc.<br>
818 SW 3rd Ave #221-2391<br>
Portland, OR 97204-2405<br>
United States<br>
</address>


<h3> Package Address </h3>
<address><br>
Aldora Capital Partners Inc.<br>
500 Westover Dr #2391<br>
Sanford, NC 27330<br>
United States<br>

</address>



<h3> Legal Mail Address</h3>
<address><br>
Aldora Capital Partners Inc.<br>
818 SW 3rd Ave #221-2391<br>
Portland, OR 97204-2405<br>
United States<br>
</address>


<h3> Email </h3>
    <h4> Technical inquiries </h4>
        <p>
        - admin@aldoracap.com
        </p>
    <h4> Funding inquiries </h4>
        <p>
        - submissions@aldoracap.com
        </p>
<h3> Phone Number </h3>
1-458-888-8042

<h3> Service Area </h3>
- United States & Canada









</div>
{% endblock %}