{% extends "layout.html" %}



{% block content %}
<div class="light">

<h3> Mailing Address </h3>
<address><br>
Aldora Capital Partners Inc.<br>
818 SW 3rd Ave #221-2391<br>
Portland, OR 97204-2405<br>
United States<br>
</address>


<h3> Package Address </h3>
<address><br>
Aldora Capital Partners Inc.<br>
500 Westover Dr #2391<br>
Sanford, NC 27330<br>
United States<br>

</address>



<h3> Legal Mail Address</h3>
<address><br>
Aldora Capital Partners Inc.<br>
818 SW 3rd Ave #221-2391<br>
Portland, OR 97204-2405<br>
United States<br>
</address>











</div>
{% endblock %}