{% extends "layout.html" %}


{% block head %}
    {% block article_head %}{% endblock %}
    <meta property="og:image" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path) }}">
    <meta property="og:image:secure_url" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path) }}">
{% endblock %}


{% block content %}

    <div class="light" style="padding-bottom: 20em">
    {% block article %}{% endblock %}
    </div>

    <section class="dark" style="text-align: right" >

    <a href="{{ url_for('apply') }}" > CLICK HERE TO APPLY</a>
    </section>
{% endblock %}

