{% extends "layout.html" %}


{% block head %}
    {% block article_head %}{% endblock %}
{% endblock %}


{% block content %}

{% block article_style %}
<article class="light">
{% block article %}

{% endblock %}
 </article>
{% endblock %}

<section class="dark" style="text-align: right" >
    {% if last_modified_date is defined %}
        <p> Last Updated Date: {{ last_modified_date }} </p>
    {% endif %}

<a href="{{ url_for('apply') }}" > CLICK HERE TO APPLY</a>
</section>


{% endblock %}

s