{% extends "layout.html" %}

{% if request.args.get('greeting') is defined %}
    {% set greeting =  request.args.get('greeting') %}
{% endif %}
{% block head %}

    {% if greeting is defined %}
    <title> {{  greeting }} </title>
    <meta property="og:title" content="{{  greeting }} ">

    {% else %}
        <title> Contact </title>
        <meta property="og:title" content=" Contact  ">
    {% endif %}



    <meta property="og:description" content=" The best place to begin your application with Aldora Capital.">
{% endblock %}


{% block content %}
<div class="dark">

<h1>
    {% if greeting is defined %}
        {{  greeting }}
    {% else %}
        Contact
    {% endif %}
</h1>
</div>

    <div class="light" >
<form action="https://formspree.io/submissions@aldoracap.com" method="post">
        <br>
        <input type="text" name="First Name" placeholder="First Name*" required>
        <br><br>
        <input type="text" name="Last Name" placeholder="Last Name*" required>
        <br><br>
        <input type="text" name="Company" placeholder="Company Name">
        <br><br>

        <input type="tel" name="Phone" placeholder="Phone*" required>
    <br><br>
        <input type="email" name="Email" placeholder="Email*" required>
    <br><br>
            <select name="Product" required>
                <option value="" disabled selected>Select your Product</option>
                <option value="Line of Credit">Line of Credit</option>
                <option value="Personal Loan">Personal Loan</option>
                <option value="Revenue Funding">Revenue Funding</option>
                <option value="SBA">SBA</option>
                <option value="Term Loan">Term Loan</option>

                <option value="I am a Broker">I am a Broker</option>
                <option value="Other/Unsure">Other/Unsure</option>
            </select>
<br><br>
      <input type="submit" value="Enter" id="button">
</form>
</div>
{% endblock %}