{% extends "layout.html" %}


{% block head %}
    <title> Employee Info</title>
{% endblock %}

{% block content %}
<!-- Header with Background Image -->
    <header class="ac-full-width page-header02 innerheader">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-white">Employee Portal</h1>
      <h2 class="text-white">Aldora Capital Partners</h2>
          </div>
        </div>
      </div>
    </header>




    <div class="light">
    <nav>
        <ul>
            <li><a href="https://accounting.waveapps.com/dashboard/business/5444885/#/">Accounting</a></li>
            <li><a href="https://www.zoho.com/crm/lp/login.html">CRM Login</a></li>
            <li><a href="https://www.zoho.com/mail/login.html">Email Login</a></li>
            <li><a href="https://dashboard.tawk.to/#/monitoring">Live Chat</a></li>
            <li>
                <a href="https://forms.zohopublic.com/virtualoffice9660/form/NewLead/formperma/B434e6251A6E5Ha9G5gmCa59E">SendInfo</a>
            </li>


        </ul>
    </nav>
    </div>
{% endblock %}