{% extends "layout.html" %}
{% block content %}




    <h2>Employee Portal</h2>
    <nav>
        <ul>
            <li><a href="https://accounting.waveapps.com/dashboard/business/5444885/#/">Accounting</a></li>
            <li><a href="https://www.zoho.com/crm/lp/login.html">CRM Login</a></li>
            <li><a href="https://www.zoho.com/mail/login.html">Email Login</a></li>
            <li><a href="https://dashboard.tawk.to/#/monitoring">Live Chat</a></li>
            <li>
                <a href="https://forms.zohopublic.com/virtualoffice9660/form/NewLead/formperma/B434e6251A6E5Ha9G5gmCa59E">SendInfo</a>
            </li>


        </ul>
    </nav>

{% endblock %}