{% extends "layout.html" %}
{% block content %}

<nav>
<ul>
  <li><a href="/articles">Articles</a></li>
  <li><a href="/products">Products</a></li>
  <li><a href="/contact">Get Me a Free Specialist</a></li>
</ul>
</nav>



<article>
<h2> Why work with Aldora? </h2>
<p>Even the best of plans often require a little financing to take flight. In a credit driven society, it can sometimes be surprisingly difficult to find a financing package that works for you or your business--whether you can't find a package you qualify for or can't decide which package will bring you the most value, Aldora Capital is committed to helping you find the financing package that will make your dreams take flight.

Based in the United States, we have a commitment to preserving the financial freedom of American people and businesses. We specialize in selecting packages that are tailored to realistically fit the needs of borrowers who might feel that they don't have that freedom, but we can also find the right fit for borrowers with better credit histories but want something different than what a traditional loan has to offer.</p>

<p>
Small business: This is our specialty. Packages range from 5,000 to 5,000,000 and can be based on cash flow instead of credit history or collateral.  Approval in as little as two days!
<br>

Startups: We're a startup too! And we're happy to walk with you as you build a financial base for your new enterprise.
<br>

Personal loans: Flexible packages up to 200,000 dollars for anything from debt consolidation to emergency management.
<br>

Collateral: Part of the freedom we offer to our clients is the freedom to choose between collateralized or uncollateralized loans.
<br>

We're here to help you explore your options. Explore our growing library of articles and ask us anything you like. Don't be shy--we won't shoehorn you into anything that doesn't fit your needs. If we don't have the right options for you, we'll know right where to point you.
</p>

</article>


{% endblock %}