{% extends "layout.html" %}
{% block content %}

    <nav>
        <ul>
            <li><a href="/articles"><h2>Articles</h2></a></li>
            <li><a href="/products"><h2>Products</h2></a></li>
            <li><a href="/contact"><h2>Get Me a Free Specialist</h2></a></li>
        </ul>
    </nav>


    <hr>

    <article>
        <h2> Why work with Aldora? </h2>
        <p>Even the best of plans often require a little financing to take flight.
            In a credit driven society, it can sometimes be surprisingly difficult to find a financing package that
            works for you or your business
            --whether you can't find a package you qualify for or can't decide which package will bring you the most
            value,
            Aldora Capital is committed to helping you find the financing package that will make your dreams take
            flight.
        <h3> Who are we?</h3>
        <p>
            Based in the United States, we have a commitment to preserving the financial freedom of American people and
            businesses. We do a few different things but the main things we do are: Direct business receivable
            purchases and we also
            specialize in selecting packages that are tailored to realistically fit the needs of borrowers.
        </p>
        <hr>

            <h3>The direct micro-financing</h3>
            <p>
            This product tends to take a little more time for approval but we can fund people that no one else would be willing to
            take the time to look at and provide amazing rates while doing that too.
            We do this in a few ways:
            </p>
            <ul>
                <li><h4>We negotiate with brokers to keep the rates low</h4>
                    With most other finance providers your broker will take a 10% cut of the total financed amount.
                    We, if the client is applying for our direct micro financing, do not allow the broker to
                    charge such high fees to the client.
                </li>
                <li><h4> We don't charge any surprise closing fees.</h4>
                    Everything is clearly laid out, no surprises.
                </li>
                <li><h4>
                    We take the time to analyze each business thoroughly
                </h4>
                    Even if you just need $2,000 or even $500 dollars. We take the time to listen and understand your
                    business. We understand that business are made of people and can have different special
                    circumstances.
                    There is not such thing as a restricted industry for us, we will take the time to listen to why your
                    business is going to succeed in its goals,
                    we learn everything we can about you. We don't just make you fit into a simple model that rejects
                    you just because you're from one industry or have some unrelated factor.
                </li>
                <li><h4>Our qualification criteria is transparent and simple</h4>
                    All we need to do is establish if you are making money consistently OR have a sure fire payment coming in and that's it.
                    Even if your revenue isn't consistent, if your revenue is seasonal and we can see evidence of that, we will likely be happy to fund you.
                </li>
            </ul>


        <hr>
        <h3>Small business financing</h3>
        <p>
            This is a specialty. Packages range from 1,000 to 5,000,000 and can be based on cash flow instead of
            credit history or collateral. Approval in as little as two days!
        </p>
        <hr>
        <h3>SBA
        </h3>
        <p> We love SBA loans and have a number of resources to help guide you through the process.</p>
        <hr>
        <h3>
            Collateral
        </h3>
        <p>
            Part of the freedom we offer to our clients is the freedom to choose between collateralized or
            uncollateralized options.
        </p>
        <hr>
        <h4> and while you're here... </h4>
        <p>
            We're here to help you explore your options. Explore our growing library of articles and ask us anything you
            like. Don't be shy--we won't shoehorn you into anything that doesn't fit your needs. If we don't have the
            right options for you, we'll know right where to point you.
        </p>

    </article>


{% endblock %}