<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='reset.css') }}>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='fonts.css') }}>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='common.css') }}>
</head>

<body>
<title> tabname </title>

<h1> WEBSITE NAME </h1>

<ul class="nav">
<li><a href="/">Home</a></li>
<li><a href="/get-estimate-or-apply">Products</a></li>
<li><a href="/articles">Articles</a></li>
<li><a href="/employee">Employee Portal</a></li>
<li><a href="/partners">Partners</a></li>
<li><a href="/contact">Contact Us</a></li>
</ul>

{% block content %}{% endblock %}

</body>

<footer>
  <p>Footer</p>
</footer>

</html>