<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T87983H');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99082099-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-99082099-2');
        gtag('config', 'AW-826181670');
    </script>
    <meta name="msvalidate.01" content="AD6512296D821695F2B4EC94B8246455"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="og:image" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path, _external=True)}}">
    <meta property="og:image:secure_url" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path, _external=True) }}">

    {% block head %}{% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T87983H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <img src="{{ url_for('static', filename='Logo_compressed.png') }}" style="width:auto;height:3.33em;alignment:left;display: inline">
    <h1 style="display: inline"> Aldora Capital Partners</h1>
    <h2> Business Financing and Startup Capital</h2>
    <a href="tel:14588888042 "> +1 458 888 8042 </a>

<!-- Search Code -->
    <div id="searchbox">
<script>
  (function() {
    var cx = '008443956938634855336:03wjrtfgp_u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
        </div>
<!--Search Code -->

    <div>
        <ul class="nav">
            <li><a href="/articles">Articles</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/employee">Employee Portal</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login" style="text-align: right;">Login or Logout</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>
    </div>
</header>


<div id='content'>
    {% block content %}{% endblock %}
</div>



<footer>
    <address>
        <ul>
            <li><a href="/address">Click Here for Address</a>

            </li>

            <li>Email:
                admin@aldoracap.com
            </li>

            <li>Phone:
                +1 458-888-8042
            </li>

            <li>Managing Partners
                Ryan Francis,
                Fazley Chowdhury
            </li>
            <li>
                <a href="/privacy_policy">Privacy Policy</a>
            </li>
        </ul>
    </address>

</footer>


<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='reset.css', v='.011') }}>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css', v='.36') }}>
<link href="https://fonts.googleapis.com/css?family=Open+Sans%7CPT+Sans" rel="stylesheet">


</body>
</html>



