<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99082099-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-99082099-2');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="og:image" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path, _external=True)}}">
    <meta property="og:image:secure_url" content= "{{ url_for('get_image',kind = 'social_images',  image_path = request.path, _external=True) }}">

    {% block head %}{% endblock %}
</head>

<body>
<header>
    <h1> Aldora Capital Partners</h1>
    <h2> Business Financing and Startup Capital</h2>
    <a href="tel:14588888042 "> +1 458 888 8042 </a>

<!-- start of freefind search box html -->
<table cellpadding=0 cellspacing=0 border=0 >
<tr>
	<td >
		<form  action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
		<input type="hidden" name="si" value="52207709">
		<input type="hidden" name="pid" value="r">
		<input type="hidden" name="n" value="0">
		<input type="hidden" name="_charset_" value="">
		<input type="hidden" name="bcd" value="&#247;">
		<input type="text" name="query" size="15">
		<input type="submit" value="search">
		</form>
	</td>
</tr>

</table>
<!-- end of freefind search box html -->

    <div>
        <ul class="nav">
            <li><a href="/articles">Articles</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/employee">Employee Portal</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login" style="text-align: right;">Login or Logout</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>
    </div>
</header>


<div id='content'>
    {% block content %}{% endblock %}
</div>



<footer>
    <address>
        <ul>
            <li>Address:
                Portland Oregon 97209,United States
            </li>

            <li>Email:
                admin@aldoracap.com
            </li>

            <li>Phone:
                +1 458-888-8042
            </li>

            <li>Managing Partners
                Ryan Francis,
                Fazley Chowdhury
            </li>
            <li>
                <a href="/privacy_policy">Privacy Policy</a>
            </li>
        </ul>
    </address>

</footer>


<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='reset.css', v='.011') }}>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css', v='.20') }}>
<link href="https://fonts.googleapis.com/css?family=Open+Sans%7CPT+Sans" rel="stylesheet">


</body>
</html>



