{% extends "article_layout.html" %}
{% block article %}

    <h2> Partnering With Aldora Capital </h2>
    <h3> Why work with us?</h3>
    <ul>
        <li><h4>No commission chargebacks</h4>
            <p>if the client defaults, unlike other companies, we absorb that risk on your behalf.</li>
        <li><h4>One point of contact</h4>
            <p>for multiple products makes your life simpler, and easier. You don't have to get your client a
                worse product just because that's all you have.
                If they qualify for a term or SBA, we will recommend it. If a business line of credit is better,
                we will recommend it. We will help you make it happen.</p></li>
        <li><h4>Knowledgeable staff</h4>
            <p>You will never face call centers.</p></li>
        <li><h4>Easy Process</h4>
            <p> You don't have to fill out forms online etc, you just email the file and it's done.
                If you don't have your own forms, your clients can use the ones on our website.
                You will be compensated. (Note: As a partner, you're not authorized to use our branding or
                misrepresent yourself as an employee of Aldora Capital.)</p> ​​
        </li>
    </ul>


    <h4><a href="/contact">Click Here to get started</a></h4>
{% endblock %}