{% extends "article_layout.html" %}

{% block article_head %}
    <title> Careers With Us</title>
{% endblock %}


{% block article %}



    <h1> Careers at Aldora Capital</h1>
    Current Openings - To apply for any position email admin@aldoracap.com

    <h2> Content Writer</h2>
    <p> We are looking to expand our writing team with a writer that understands good SEO,
        has a clear honest communication style and is capable of good research with references. </p>

    <h3> Broker Partner </h3>
    <p> We are looking for good honest brokers that always put the borrower first even if that means making less commission.
        External brokers must be willing to source their own leads.
        If you routinely stack your clients, use deceptive sales tactics, or pressure clients into taking deals
        that may not be good for them in the long run then this is not the company for you. </p>

    <h4> Why work with us?</h4>
    <ul>
        <li><h4>No commission chargebacks</h4>
            <p>if the client defaults, unlike other companies, we absorb that risk on your behalf.</li>
        <li><h4>One point of contact</h4>
            <p>for multiple products makes your life simpler, and easier. You don't have to get your client a
                worse product just because that's all you have.
                If they qualify for a term or SBA, we will recommend it. If a business line of credit is better,
                we will recommend it. We will help you make it happen.</p></li>
        <li><h4>Knowledgeable staff</h4>
            <p>You will never face call centers.</p></li>
        <li><h4>Easy Process</h4>
            <p> You don't have to fill out forms online etc, you just email the file and it's done.
                If you don't have your own forms, your clients can use the ones on our website.
                You will be compensated. (Note: As a partner, you're not authorized to use our branding or
                misrepresent yourself as an employee of Aldora Capital.)</p> ​​
        </li>
    </ul>





{% endblock %}