{% extends "layout.html" %}
{% block content %}
<div class="light">
<p>
<h2>Aldora Capital's super simple Privacy Policy</h2>
<h3>Issues</h3>
<p>If you have any concerns or Issues. Do not hesitate to contact us at <a href="mailto:admin@aldoracap.com">admin@aldoracap.com</a></p>
<h3>Tracking</h3>
<p>We use cookies to track your actions on the website. We do so for the following reasons:</p>
<ul>
<li>Help you navigate the website.&nbsp;</li>
<li>Sign in and Sign out processes.</li>
<li>Study which pages out visit in order to personalize your experience.&nbsp;</li>
<li>Study our own advertising and promotion.</li>
<li>Provide marketing material generally but not limited to: email, phone&nbsp;or mail.</li>
</ul>
<h3>How do we share your information?</h3>
<p>We share your information in the following situations:</p>
<ul>
<li>In cases in which we are required to by law:&nbsp;&nbsp;a subpoena, or similar legal process.</li>
<li>If we become involved in a merger or related activity in which our assets transfer over.&nbsp;</li>
<li>With your written permission to provide lenders your financial information in order to service your loan.&nbsp;</li>
</ul>
<h3>Security</h3>
<p>- All Aldora Capital Partner website interactions are done using https.<br>
   - Our website is regularly checked by McaFee SECURE system for malware: <a href="https://www.mcafeesecure.com/verify?host=aldoracapital.com"> Verification Page</a>
    &nbsp;</p>
<h3>Links to Other Websites</h3>
<p>We can not control the content provided by other services, even those that we link out of the relm of our website. We recommend&nbsp;carefully reading their policy before providing personal information.</p>

    <h3> Mailing Address </h3>
<address><br>
Aldora Capital Partners Inc.<br>
818 SW 3rd Ave #221-2391<br>
Portland, OR 97204-2405<br>
United States<br>
admin@aldoracapital.com<br>
</address>
</div>
{% endblock %}