{% extends "layout.html" %}

{% block head %}
    <title> Login </title>
{% endblock %}


{% block content %}

<p class="dark">
    Login to your AldoraCapital account here.
</p>

    <div class="light">
<form action="/login" method="post">
      <br>
      <input type="text" name="user_name" placeholder="Username">
      <br><br>
      <input type="password" name="password" placeholder="Password">
      <br><br>
      <input type="submit" value="login" id="button">
</form>
    </div>
{% endblock %}