{% extends "article_layout.html" %}
{% block article_head %}
<title> Should I Consider A SBA 7(a) Or A 504 Loan?</title>
   <meta property="og:title" content="What is the SBA?">
   <meta property="og:description" content="The SBA Provides A Number of Support Services For Small Businesses And Entrepreneurs.">
{% endblock %}

{% block article %}
<h1> What is the SBA? </h1>
<p>Helping finance loans are among the many <a href="https://www.sba.gov/">support services</a>
    the Small Business Administration (SBA)
    provides for small businesses and entrepreneurs.
    The SBA encourages small businesses to
    use their services because they can help procure
    loans that are at competitive rates, offer loan education,
    and make potential lenders give special considerations when
    it comes to collateral and down payments. Although there are
    a number of different loan programs the SBA helps their applicants guarantee,
    it’s important for the applying business to know the intended uses of the funds
    and details of the specific loan they are applying for.
{% endblock %}
