{% extends "article_layout.html" %}


{% block article_head %}
    <title> What are the different types of SBA Loans ?</title>
{% endblock %}


{% block article %}


<h3> Why are SBA Loans Cheaper?</h3>

<p>An SBA loan is partially guaranteed by the Small Business Administration,
    meaning if you default the SBA will pay the debt up to the guarantee amount.
    The loan terms and requirements are more flexible than a regular loan,
    making it easier for small business owners to obtain a loan. Because the SBA partially guarantees the debt on such loans,
    banks are able to extend credit to small business owners who may otherwise have difficulty obtaining credit with favorable terms.
    If you are starting a small business or are currently a small business owner in need of financial assistance and funding,
    the Small Business Administration has several loan programs available.
    Your specialist will assess your current situation and needs, after which, they will select the appropriate loan program that best suits your financial needs.
    </p>

{% endblock %}